<div class="sign-up-main-container">

        <div class="sign-up-left-container">
        <h1>Looks like <br/>you're new here!</h1>
        <h4>Sign up with your <br/>
        Email to get started</h4>
        </div>
        <div class="sign-up-right-container">
        <%= render "users/form"%>
        </div>

</div>
