<div class="homepage-main-container">
<%= link_to food_reviews_path do  %>
    <div class="homepage-left-container">

    </div>
    <h2 class="home-page-heading">Restaurants</h2>
<% end %>
<%= link_to function_hall_reviews_path do %>
    <div class="homepage-right-container">
    </div>
    <h2 class="home-page-headings">Function Halls</h2>  
<% end %>
</div>